/**
 * Transition between term and terms views.
 */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 150ms;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

/**
 * Toggle triangle transition.
 */
.toggle--is-open {
	.icon--toggle {
		transition: transform 150ms ease-in-out;  
	}
}

.icon--toggle {
	transition: transform 150ms ease-in-out;
}