/**
 * View: single term.
 */
.terms-map__single {
	padding: 1.25rem 0;
}

h1 {
	color: $color-bright;
	font-weight: 300;
}

p {
	margin-bottom: 1.25rem;
	max-width: 44em;
}

h1 + dl { // Compensate for a missing description.
	padding-top: 20px;
}
	
dl {
	margin-bottom: 1.25rem;

	div {
		background-color: #f8f8f8;
	}
}

@media (min-width: 62.5em) {
	dl {
		display: flex;

		div {
			flex-basis: 20%;
		}
	}
}

dt,
dd {
	display: block;
}

dt {
	background-color: $color-bright;
	color: #fff;
	padding: .3125rem 1rem;
}

dd {
	padding: 1rem 1rem 0;
	white-space: pre-line;
}

dd:last-child {
	margin-bottom: 1.25rem;
	padding-bottom: .6125rem;

	@media (min-width: 62.5em) {
		padding-bottom: 0;
	}
}

.convertible {
	font-style: italic;
	font-weight: 300;
	
	&::before {
		content: '\002a '; // ISO code for asterisk entity. 
	}
}

.legend {
	font-style: italic;
}

/**
 * Do not show the convertibles legend for the first term
 */
.definition--type-of-securities {
	.convertible {
		font-style: inherit;

		&::before {
			content: none;
		}
	}
}

.definition--type-of-securities + .legend {
	display: none;
}
