/**
 * View: All terms.
 *
 * The layout model originally used CSS Columns but when tooltips
 * were added there were too many cross-browser issues with the tooltip positioning
 * and general CSS Columns quirks. This meant switching to a Flexbox layout: to
 * achieve something akin to a masonry layout and not have to alter the CSV
 * row order, columns are created by setting flex-direction to `column`. This
 * solution unfortunately means a fixed height needs to be set on the list
 * container, based on the current number of list items.
 *
 * TLDR: you need to update the max-height at each breakpoint on the `ul` element
 * under .terms-map__all to have the columns flow correctly IF the total number
 * of terms is changed.
 *
 */
.terms-map__all {
	padding: 1.25rem 0;
	
	ul {
		list-style-image: none; /* reset theme stylesheet */
		padding: 0;             /* reset theme stylesheet */
	}
}

@media (min-width: 43.75em) {
	.terms-map__all {
		ul {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			max-height: 600px;
			width: 100%;
		}

		li {
			padding-left: 0;
			padding-right: 0;
			width: calc(100% / 2);
		}
	}
}

@media (min-width: 70em) {
	.terms-map__all {
		ul {
			max-height: 440px;
		}

		li {
			width: calc(100% / 3);
		}
	}
}

.term {
	list-style-type: none;
	
	div {
		position: relative;
		padding-left: 1.5rem;

		@media (min-width: 43.75em) {
			padding-right: 4em;
		}
	
		&::before {
			border-style: solid;
			border-width: 7px 4.5px 0 4.5px;
			border-color: $color-bright transparent transparent transparent;
			content: '';
			height: 0;
			left: 0;
			position: absolute;
			top: .75rem;
			width: 0;
		}
	}

	.term__name {
		background: transparent;
		color: #98a1a6;
		font-size: 1.125rem;
		font-weight: 300;
		text-align: left;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			text-decoration: none;
		}
	}

	.term__tip {
		button {
			background-color: #98a1a6;
			border-radius: 50%;
			color: #fff;
			height: 1.125rem;
			line-height: 1.5; /* Overrides the global value. */
			margin-left: .375rem;
			padding: 0;
			text-align: center;
			width: 1.125rem;

			&:focus {
				background-color: #c3112e;
			}
		}
	}
}

.tip {
	background-color: #c3112e;
	color: #fff;
	font-size: 1rem;
	height: 0;
	left: 0;
	line-height: 1.25;
	max-width: calc(100vw - 6rem);
	opacity: 0;
	position: absolute;
	transform: translateY(2.5625rem);
	visibility: hidden;
	width: 300px; // Padding is added to tip--is-open class, not exclusive.
	z-index: 2;

	&::before {
		border-style: solid;
		border-width: 0 10px 13px 10px;
		border-color: transparent transparent #c3112f transparent;
		content: '';
		height: 0;
		left: 2.75rem;
		position: absolute;
		top: -10px;
		height: 0;
	}
}

@media (min-width: 40.625em) {
	.term__tip {
		position: relative;
	}

	.tip {
		left: auto;
		right: 0;
		transform: translate3d(2.75rem, 2.5625rem, 0);

		&::before {
			left: auto;
			right: 2.75rem;
		}
	}

	/**
 	 * This class is applied if the distance to the window left is smaller than the
 	 * tip width.
 	 */
	.tip--flip {
		left: 0;
		right: auto;
		transform: translate3d(-2.5rem, 2.5625rem, 0);

		&::before {
			left: 2.75rem;
			right: auto;
		}
	}
 }
	
.tip--is-open {
	height: auto;
	opacity: 1;
	padding: 1.5rem 1.25rem;
	visibility: visible;
}
