/**
 * Button for toggling views.
 */
.toggle {
	align-items: center;
	background-color: $color-dark;
	color: #fff;
	display: flex;
	padding: 0 1.25rem 0 0;
	position: relative;
}

.toggle--is-open {
	background-color: $color-bright;

	.icon--toggle {
		transform: rotate(0);
	}
}

.icon--toggle {
	height: 54px;
	position: relative;
	transform: rotate(-90deg);
	width: 54px;
}

.▾ {
	display: inline-block;
	height: 12px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 16px;

	&::before {
		border-style: solid;
		border-width: 12px 8px 0 8px;
		border-color: #fff transparent transparent transparent;
		content: '';
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
	}
}

.label {
	font-size: 1.125rem;
	line-height: 3;
}